# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Data files (VERY IMPORTANT)
data/raw/*.csv
data/processed/*.csv

# Models
models/*.pkl
models/*.joblib

# Logs
*.log
